{% extends 'main.html' %}

{% block content %}

<h1>Liquidacion</h1>

<div>
    <div>
        {{settlement}}
    </div>
    <form method="post" action="{% url 'process-signing' settlement.id %}">
        {% csrf_token %}
        <button type="submit">Procesar Fichajes</button>
    </form>
    {% if settlement.processed %}
        <form method="post" action="{% url 'export-settlement' settlement.id %}">
            {% csrf_token %}
            <button type="submit">Exportar liquidacion</button>
        </form>
    {% endif %}
</div>

{% endblock %}